<div>
	<!-- <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Contact Us</a> -->
	<a class="pull-right btn btn-primary btn-outline btn-rounded" href="https://github.com/bryanchen18/VTHacks/tree/frontend-1">Check It Out!</a>
	<h2>Overview <small>Why is Capital Search is so awesome?</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>
			Explore your local culture!! <br /><br />
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>
</div>