extends ../node_modules/jade-bootstrap/_bootstrap

append styles
	// Custom styles for this template
	link(href='../../node_modules/jade-bootstrap/css/signin.css', rel='stylesheet')
block body
	.container
		if (!user)
			a(href="/login") Login
			a(href="/register") Register
		if (user)
			p You are currently logged in as #{user.username}
			a(href="/logout") Logout