<!DOCTYPE html>
<html>
	<body>
		<title>Map</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<style>
				html, body{
					height:80%
				}
				#purchases {
					border-radius: 25px;
					min-height: 425px;
					margin-top: 5px;
					margin-left: 150px;
					position: relative;
					text-align: center
				}
				#purchaseNumber {
					padding-left: 1%;
					text-align: right;
				}
				#purchaseInfo{
					padding-left: 2%;
					text-align: left;
				}
				#purchaseAddress{
					padding-left: 2%;
					text-align: left;
				}
				#purchaseDistance{
					padding-left: 1%;
					padding-right = 1%;
					text-align: left;
				}
				#map {
					float: right;
					width: 450px;
					height: 450px;
					margin: 5px;
					padding: 0px;
					position: relative;
					border:5px solid #000000;
					height: 100%;
				}
		</style>
		<div id = "purchases"; class="content"; style="display: inline-block; width: 50%; min-width: 300px; background-color: #F8F8F8">
			<h2>Purchase History</h2>
			<div id = "purchaseNumber"; style="float: left; width: 4%;"></div>
			<div id= "purchaseInfo"; style="float: left; width: 20%;"></div>
			<div id= "purchaseAddress"; style="float: left; width: 58%;"></div>
			<div id= "purchaseDistance"; style="float: left; width: 12%;"></div>
		</div>
		<div id="map"; style="display: inline-block"></div>
		<script>
			//turns elements to have the most beautiful font ever
			document.getElementById("purchaseNumber").style.fontFamily = "Comic Sans MS";
			document.getElementById("purchaseInfo").style.fontFamily = "Comic Sans MS";
			document.getElementById("purchaseAddress").style.fontFamily = "Comic Sans MS";
			document.getElementById("purchaseDistance").style.fontFamily = "Comic Sans MS";
			//reads locations and addresses from a server, presumably, but we chose to hardcode for the sake of time constrains
			var locations = ["Food Lion", "7-11", "Chinese Kitchen", "McDonald's", "Papa John's Pizza", "PetSmart", "Best Buy", "Walmart", "Regal Cinemas", "JCPenny"];
			var addresses = ["1413 N Main St, Blacksburg, VA 24060", "1350 N Main St, Blacksburg, VA 24060", "1409 N Main St, Blacksburg, VA 24060", "110 Turner St NW, Blacksburg, VA 24060", "824 N. Main Street, Blacksburg, VA 24060", "165 Shoppers Way, Christiansburg, VA 24073", "105 Shoppers Way, Christiansburg, VA 24073", "2400 N Franklin St, Christiansburg, VA 24073", "110 New River Rd, Christiansburg, VA 24073", "415 New River Rd, Christiansburg, VA 24073"];
			function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
			  zoom: 11,
			  center: {lat: 37.242, lng: -80.429}
			});
			var house = 'https://upload.wikimedia.org/wikipedia/commons/9/92/Map_marker_icon_%E2%80%93_Nicolas_Mollet_%E2%80%93_Home_%E2%80%93_People_%E2%80%93_Default.png';
			var beachMarker = new google.maps.Marker({
				position: {lat:  37.242, lng: -80.429},
				map: map,
				icon: house
			});
			var purchaseNumber = document.getElementById("purchaseNumber");
			var purchaseInfo = document.getElementById("purchaseInfo");
			var purchaseAddress = document.getElementById("purchaseAddress");
			var purchaseDistance = document.getElementById("purchaseDistance");
			var longestD = 0;
			purchaseInfo.innerHTML += "Description";
			purchaseAddress.innerHTML += "Address";
			purchaseDistance.innerHTML += "Distance";
			var geocoder = new google.maps.Geocoder();
			for (i = 0; i < locations.length; i++){
				var number = i+1;
				purchaseNumber.innerHTML += "<Br>" + number + ".";
				purchaseInfo.innerHTML += "<Br>" + locations[i];
				purchaseAddress.innerHTML += "<Br>" + addresses[i];
				geocodeAddress(geocoder, map, addresses[i], i);
			}
		  }
		  function toRad(x){
			return x*Math.PI/180; 
		  }
		  function geocodeAddress(geocoder, resultsMap, address, idx){
			geocoder.geocode({'address': address}, function(results, status){
			  var coordinates = results[0].geometry.location;
			  var string = coordinates.toString();
			  var lat = parseFloat(string.substr(1,string.indexOf(',')-1));
			  var lng = parseFloat(string.substr(string.indexOf(',')+2),string.indexOf(')')-1)
			  var R = 3961;
			  var centerlat = 37.242;
			  var centerlng = -80.429;
			  var x1 = lat - centerlat;
			  var dLat = toRad(x1); 
			  var x2 = lng - centerlng;
			  var dLon = toRad(x2);  
			  var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(toRad(centerlat)) * Math.cos(toRad(lat)) * Math.sin(dLon/2) * Math.sin(dLon/2);  
			  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
			  var d = R * c;
			  purchaseDistance.innerHTML += "<Br>" + (d).toFixed(2) + " mi.";
			  if (status === google.maps.GeocoderStatus.OK) {
				results[0].geometry.location;
				var marker = new google.maps.Marker({
				  map: resultsMap,
				  position: results[0].geometry.location,
				  animation: google.maps.Animation.DROP,
				  title: locations[idx]
				});
			  }
			});
		  }
    </script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF0txcDHGhm7xIsHoEEkmKnorBJcZfZtg&callback=initMap"async defer></script>
	</body>
</html>